body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --cor-tema: rgb(7, 7, 114);

  --cor-primaria: rgb(10, 99, 167);
  --cor-secundaria: rgb(17, 131, 17);
  --cor-terciaria: rgb(176, 22, 22);
  --cor-amarelo: rgb(220, 204, 26);

  --cor-preta: #000;
  --cor-branca: #fff;
  --cor-cinza-claro: #eee;
  --cor-cinza-escuro: #222;
}

.full-width {
  width: 100%;
}
.full-height {
  height: 100vh;
}

/* FLEX */
.flex {
  display: flex;
}
.horizontal {
  flex-direction: row;
}
.vertical {
  flex-direction: column;
}

.flex-1 {
  flex: 1;
}
.flex-2 {
  flex: 2;
}
.flex-3 {
  flex: 3;
}

.flex-start,
.flex-center,
.flex-end {
  align-items: center;
}

.flex-start {
  justify-content: flex-start;
}
.flex-end {
  justify-content: flex-end;
}
.flex-center {
  justify-content: center;
}
